<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi! <%= @client.name %></h1>
    <p>
      Your bill has successfully create 
    </p>
    <p>
      You receive that in a couple of days</a>.
    </p>
    <p>Thanks for work with us and have a great day!</p>
  </body>
</html>