<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @user.name %>,</p></br>
    <p>
      You have successfully joined to <B><%= @company.name %></B>.
    </p>Time to work!</p>
  </body>
</html>