<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome  <%= @user.name %></h1>
    <p>
      You have successfully signed up to bercon.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <a>bercon.herokuapp.com/users/sign_in</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>