<!DOCTYPE html>

<h3>Tus Clientes</h3>


	<div class="row-fluid">	
		<div class="span1">
	  		<a href="/registration_products" ><button class="btn btn-small" type="button">Atrás</button></a>
	  	</div>  	
	 </div>
	  	
	<div class="row-fluid">
			
		<div class="span4" style="margin-top: 5%">
			<%= render 'form' %>
		</div>
				
		<div id="clients_table" class="span7">
			<%= render 'clients_table'%>
		</div>
		
	</div>
	
	<div class="row-fluid">
		<div class="span4 offset10">
		  <a href="/center"><button class="btn btn-primary" type="button">Terminar Registro</button></a>
		</div>	
		
		 <!-- <div class="progress progress-striped active">
			  <div class="bar" style="width: 100%;">Añade a tus Clientes</div>
			</div> -->	
	</div>

