<table width="620" border="0" cellpadding="5" cellspacing="0">
			<tbody>
				<tr bgcolor="#FFBF00">
					<td>
						&nbsp;
					</td>
				</tr>
				<tr bgcolor="#FFBF00">
					<td align="center" valign="middle">
						<table width="600" border="0" cellpadding="3" cellspacing="2" style="color:black;">
							<tbody>
								<tr><td colspan="5"><img src="" border="0"></td></tr>
								<tr bgcolor="#FFBF00">
									<td width="300" colspan="3">
										<strong>Sorth LLC&nbsp;</strong>
									</td>
									<td width="300" colspan="2" align="right">
										<strong>Invoice #6</strong>
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="3">
										1234 Main St.
									</td>
									<td align="right" colspan="2">
										Apr 27, 2009
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="3">
										Seattle, WA 98103
									</td>
									<td align="right" colspan="2">
										Client: John Smith
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="3">
										206-123-4567
									</td>
									<td align="right" colspan="2"></td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="3">
										&nbsp;
									</td>
									<td align="right" colspan="2">
										Terms: Due On Receipt
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										<b>Project:</b> Smith Remodel
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										<b>Hours Detail:</b> (4.00 Hours)
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td width="125">
										<strong>Date</strong>
									</td>
									<td width="250">
										<strong>Description</strong>
									</td>
									<td width="75">
										<strong>Hours</strong>
									</td>
									<td width="75">
										<strong>Price</strong>
									</td>
									<td width="75" align="right">
										<strong>Amount</strong>
									</td>
								</tr>
								<tr bgcolor="#999999" style="">
									<td valign="top">
										Jun 2, 2008
									</td>
									<td valign="top">
										Finish:Wood trim and painting - Began installing trim moulding to bathroom vanity
									</td>
									<td valign="top">
										4.00
									</td>
									<td valign="top">
										$100.00
									</td>
									<td valign="top" align="right">
										$400.00
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										<b>Items Detail:</b> (1.00 Items)
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td width="125">
										<strong>Date</strong>
									</td>
									<td width="250">
										<strong>Description</strong>
									</td>
									<td width="75">
										<strong>Quantity</strong>
									</td>
									<td width="75">
										<strong>Price</strong>
									</td>
									<td width="75" align="right">
										<strong>Amount</strong>
									</td>
								</tr>
								<tr bgcolor="#999999">
									<td valign="top">
										Oct 15, 2008
									</td>
									<td valign="top">
										12v Halogen bulbs
									</td>
									<td valign="top">
										4.00
									</td>
									<td valign="top">
										$3.99
									</td>
									<td valign="top" align="right">
										$15.96
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="2" width="300">
										&nbsp;
									</td>
									<td colspan="2" width="225" align="right">
										<strong>Subtotal:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$415.96</strong>
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="2" width="300">
										&nbsp;
									</td>
									<td colspan="2" width="225" align="right">
										<strong>Discount -5.00%:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>($20.80)</strong>
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="4" width="525" align="right">
										<strong>Total:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$395.16</strong>
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="2" width="300">
										<dl>
											<dt>
												<strong>Payment Details:</strong>
											</dt>
											<dd>
												May 14, 2009 Check #4654 - $200.00
											</dd>
										</dl>
									</td>
									<td colspan="2" width="225" align="right" valign="bottom">
										<strong>Total Payments:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right" valign="bottom">
										<strong>$200.00</strong>
									</td>
								</tr>
								<tr bgcolor="#FFBF00">
									<td colspan="2" width="300">
										Thanks for your business!
									</td>
									<td colspan="2" width="225" align="right">
										<strong>Amount Due:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$195.16</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>