     <script>
 $(function() {
 
    $( "#client" ).autocomplete({
      minLength: 2,
      source: function(request, response) {
		   $.ajax({
				url: "/demands/autocomplete_client_name",
				dataType: "json",
				data: {term: request.term},
			success: function( data ) {
			response( data );
				}
			})
		},
      focus: function( event, ui ) {
        $( "#client" ).val( ui.item.name );
        return false;
      },
      select: function( event, ui ) {
        $( "#client-name" ).val( ui.item.name );
        $( "#client-id" ).val( ui.item.id );
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.name + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

<%= form_for(@demand) do |f| %>
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
      <% @demand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="createDemand">
  	<%= f.submit "Hacer Pedido" %>
  </div>
  
  <div class="field">
  	Cliente <br /> <br />
 	<input id="client" />
	<input type="hidden" id="client_id" />
  </div>
  
<% end %>
