 <%debugger%>

<table width="620" border="0" cellpadding="5" cellspacing="0">
			<tbody>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
					<td align="center" valign="middle">
						<table width="600" border="0" cellpadding="3" cellspacing="2" style="color:black;">
							<tbody>
								<tr><td colspan="5"><img src="" border="0"></td></tr>
								<tr >
									<td width="300" colspan="3">
	
									</td>
									<td width="300" colspan="2" align="right">
	
									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2">

									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2">
										Client: @client_name
									</td>
								</tr>
								<tr >
									<td colspan="3">

									</td>
									<td align="right" colspan="2"></td>
								</tr>
								<tr >
									<td colspan="3">
										&nbsp;
									</td>
									<td align="right" colspan="2">

									</td>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr >
									<td colspan="5">

									</td>
								</tr>
								<tr >
									<td colspan="5">

									</td>
								</tr>
								<tr >
									<td colspan="5">
										<b>Cantidad:</b> 
									</td>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr >
									<td width="125">
										<strong>Fecha</strong>
									</td>
									<td width="250">
										<strong>Descripcion</strong>
									</td>
									<td width="75">
										<strong>Cantidad</strong>
									</td>
									<td width="75">
										<strong>Precio</strong>
									</td>
									<td width="75" align="right">
										<strong>Total</strong>
									</td>
								</tr>
								<tr bgcolor="#999999" style="">
									<td valign="top">
										Jun 2, 2008
									</td>
									<td valign="top">
										Finish:Wood trim and painting - Began installing trim moulding to bathroom vanity
									</td>
									<td valign="top">
										4.00
									</td>
									<td valign="top">
										$100.00
									</td>
									<td valign="top" align="right">
										$400.00
									</td>
								</tr>
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								
								<tr >
									<td colspan="5">
										&nbsp;
									</td>
								</tr>
								<tr >
									<td colspan="2" width="300">
										&nbsp;
									</td>
									<td colspan="2" width="225" align="right">
										<strong>Subtotal:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$415.96</strong>
									</td>
								</tr>
								<tr >
									<td colspan="2" width="300">
										&nbsp;
									</td>
									<td width="75" align="right">
										<strong>($20.80)</strong>
									</td>
								</tr>
								<tr >
									<td colspan="4" width="525" align="right">
										<strong>Total:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$395.16</strong>
									</td>
								</tr>
								<tr >
									<td colspan="2" width="300">
										<dl>
											<dt>
												
											</dt>
											<dd>
												
											</dd>
										</dl>
									</td>
									<td colspan="2" width="225" align="right" valign="bottom">
										<strong>Total Payments:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right" valign="bottom">
										<strong>$200.00</strong>
									</td>
								</tr>
								<tr >
									<td colspan="2" width="300">
										Thanks for your business!
									</td>
									<td colspan="2" width="225" align="right">
										<strong>Amount Due:</strong>&nbsp;&nbsp;
									</td>
									<td width="75" align="right">
										<strong>$195.16</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>