  <%= stylesheet_link_tag    "aplication", :media => "all" %>
  <%= javascript_include_tag "aplication" %>
  <%= csrf_meta_tags %>

<h1 id="titulo">Compañía</h1>

<div id="contenido">
	<p>
		<p>BERCON.SA</p>
		Sociedad anónima de desarrollo software de aplicaciones web y aplicaciones android.
	</p>
</div>

