<h1>Compañía</h1>

<p>
	<a href="/say/hello" >Inicio</a>
</p>

<p>
	BERCON.SA
Sociedad anónima de desarrollo software de aplicaciones web y aplicaciones android.
</p>
<p>...........................................................</p>

