<div id="titulo">
	<h1>Contacto</h1>
</div>

<div id="contenido">
	<p id="a1">
		Contacto:
		<p>llinacont@gmail.com</p>
		<p>angel.berenguel@gmail.com</p>
 	</p>
 	<p id="a1">
		Teléfono de contacto:
 	</p>
 	<p id="a1">
		Fax:
 	</p>
 	<p id="a1">
		Dirección de correo:
	</p>
</div>
