<h1>Contacto</h1>

<p>
	<a href="/say/hello" >Inicio</a>
</p>

<p>
	Contacto:
e-mail: llinacont@gmail.com
	    angel.berenguel@gmail.com
 
Teléfono de contacto:
 
Fax:
 
Dirección de correo:
</p>
<p>...........................................................</p>
