  <%= stylesheet_link_tag    "aplication", :media => "all" %>
  <%= javascript_include_tag "aplication" %>
  <%= csrf_meta_tags %>

<div id="titulo">
	<h1>Productos</h1>
</div>

<div id="contenido">
	<table id="table2">
	<tr>
	<td>
		<div>
			<div id="a1">
				Rutas óptimas de reparto:
			</div>
			<div id="imagen">
				<img src="/images/mapa.gif" />
			</div>
		</div>
	</td>
	<td>
		<div>
			<div id="a1">
				Lista de productos:
			</div>
			<div>
				<table id="table2">
					<th>coca cola</th>
					<th>fanta naranja</th>
					<th>fanta limón</th>
					<th>sprite</th>
				</table>
			</div>
		</div>
	</td>
	<td>
		<div id="a1">
			Estadísticas de ventas:
		</div>
		<div id="imagen">
			<img src="/images/grafica.jpg" />
		</div>
	</td>
	</tr>
	</table>
</div>
