<h1>Información</h1>
<p>

	<a href="/say/hello" >Inicio</a>
</p>

<p>
	Aplicación web destinada a gestionar la distribución 
	y venta de distintos productos al pormayor a comercios
	de venta al público.
	Gestión de pedidos, de clientes, de productos en stock
	y rutas de reparto.
</p>
<p>...........................................................</p>

