<h1>Productos</h1>

<p>
	<a href="/say/hello" >Inicio</a>
</p>

<p>
	Rutas óptimas de reparto:
	<img src="/images/mapa.gif" />
<p>
	Lista de productos:
	<table>
		<dl>coca cola</dl>
		<dl>fanta naranja</dl>
		<dl>fanta limón</dl>
		<dl>sprite</dl>
	</table>

</p>
<p>
	Estadísticas de ventas:
	<img src="/images/grafica.jpg" />
<p>
<p>...........................................................</p>