<h3>Tu Empresa</h3>

<div style="margin-top: 5%">
  <%= render 'form' %>
</div>

<div class="row" style="margin-top: 2%; margin-bottom: 5%">
	<div style="text-align: right">
		<a href="/center"><button class="btn btn-primary" type="button">Terminar Registro</button></a>
	</div>
	
	<div class="progress progress-striped active" style="margin-top: 0.5;">
	  		<div class="bar" style="width: 50%;">Ponle nombre a tu empresa</div>
	</div>
</div>
