<h3>Tu Empresa</h3>

<% @company = Company.new%>

<%= render 'form' %>

<div style="text-align: right">
	<a href="/center"><button class="btn btn-primary" type="button">Terminar Registro</button></a>
</div>

<div class="progress progress-striped active">
  		<div class="bar" style="width: 50%;">Ponle nombre a tu empresa</div>
</div>
