// Place all the styles related to the demands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#demands {
   width:800px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}

#createDemand{
  position: absolute;
  top: 404px;
  left: 380px;
}

#back{
  left: 615px;
  position: absolute;
  bottom: 200px;
}

#back:hover{
  opacity: 0;
  visibility: visible;
}

#destroyButton{
  text_align: right;
}
