// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#titulo3{
    font:  200% sans-serif;
    color: blue;
    text-align: center;
}

#table3{
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  width: 80%;
}

#tr3{
  border: 3px solid black;
  background-color: #AEF8ED;
}

#th3{
  border: 3px solid black;
  color: white;
  background-color:blue;
}

#td3{
  border: 3px solid black;
  color:black;
}

#boton3{
  color:blue;
  text-align:center;
  font-size:large;
}

