<h3>Nuevo Producto</h3>

<div class="row">
	<%= render 'form' %>

  	<div class="span8">
  		<div class="rowcent">
  			<div id="products_table">
				<%= render :partial => 'products_table' %>		
			</div>
		</div>
  	</div>
 </div>


<%= link_to 'Atrás', :controller => '/center', :action => 'index' %>
