<!DOCTYPE html>

<h3>Tus Productos</h3>

  <div class="row">

  	<div style="text-align: left">
  			<%= button_to 'Atrás', edit_user_registration_path %>
  	</div>

	<div style="text-align: right">
		<a href="/registration_clients"><button class="btn btn-small" type="button">Siguiente</button></a>
	</div>

	<% render 'form' %>

<div style="text-align: right">
	<a href="/center"><button class="btn btn-primary" type="button">Terminar Registro</button></a>
</div>

<div class="progress progress-striped active">
  		<div class="bar" style="width: 66%;">Añade tus Productos</div>
</div>
